<form [formGroup]="form" (ngSubmit)="OnSubmit()" style=" margin-right: 80px;margin-left: 80px;margin-top: 80px!important">
    <h1>Create </h1>

    <p>
        <mat-form-field appearance="legacy" style="width: 100%">
          <input matInput placeholder="cin" formControlName="cin">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard" style="width: 100%" >
          <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard" style="width: 100%">
          <input matInput placeholder="createdDate">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy" style="width: 100%">
          <input matInput placeholder="cv" formControlName="cv">
       
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard" style="width: 100%" >
          <input matInput placeholder="type" formControlName="type">
        </mat-form-field>
      </p>
      
      <button mat-button style="background-color:darkseagreen; margin-left: 700px;">Submit</button>

   
    </form>